* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.word {
    background: -webkit-linear-gradient(blue, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
}

.container {
    display: flex;
    padding-top: 20px;
}


/*header*/

.container1 {
    display: flex;
    background-image: linear-gradient(to right, white, blue);
    height: 80px;
}

.logo {
    width: 40%;
    padding-left: 30px;
}

.logo img {
    width: 100px;
}

.menu ul li {
    display: inline-block;
}

.menu {
    width: 60%;
    text-align: center;
}

.menu ul {
    float: right;
}

.menu ul li {
    margin-right: 40px;
    margin-top: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    font-size: 15px;
}

.menu ul li:hover {
    border-bottom: 2px solid #fff;
}


/*first section*/

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-top: 40px;
}

.half-width h1 {
    color: #575757;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.half-width h5 {
    color: #828282;
    font-weight: 500;
    size: 20px;
    line-height: 32px;
}


/*first section button*/

.btn-first {
    margin-top: 30px;
}

.btn-primary {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, blue, black);
    padding: 10px 30px;
    border-radius: 20px;
}

.btn-primary:hover {
    background-image: linear-gradient(to left, #FF914D, #000);
}

.half-width img {
    width: 500px;
}


/*About section*/

.second {
    background-image: url("../images/frame.jpg");
    background-position: center center;
    background-size: cover;
}

.second h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.second h1 {
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
}

.second .btn-primary:hover {
    background-image: linear-gradient(to left, red, black);
}